*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Wix Madefor Text";
    text-decoration: none;
}

body{
    background-color: black;
}

p{
    font-size: 12px;
}

header{
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo{
    background-color: black;
    background-image: url(assets/img/logo2.png);
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icons{
    background-color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10vh;
    margin-bottom: 15px;
}

.icons a{
    background-color: white;
    width: 50px;
    height: 50px;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.icons i{
    font-size: 22px;
}

.icons a:hover{
    background-color: #9940B9;
    color: white;
    width: 60px;
    height: 60px;
}
.links{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.links div{
    background-color: #222222;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    flex-direction: row;
    margin: 10px;
    border-radius: 15px;
    color: white;
    transition: 0.3s;
}

.links div .hundred{
    display: flex;
    justify-content: center;
    width: 100%;
}

.links div .img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    margin: 5;
}

.links .big{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: end;
    text-align: left;
    background: url("https://ugc.production.linktr.ee/9edca335-31d7-4b70-af86-cb1152923b86_0ff331ab-ca7e-4c1f-9c1a-4b05ddad8ec4-maxresdefault.jpeg?io=true&size=thumbnail-feature-v1_0") no-repeat center;
    background-size: cover;
    height: 200px;
    border-radius: 15px;
}

.big p{
    margin-bottom: 5px;
}

.links .big::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    border-radius: 15px; /* Adicione esta linha */
    z-index: 1;
}

.links .big > * {
    position: relative;
    z-index: 2;
}

.links div:hover{
    width: 330px;
    height: 55px;
}

.links .big:hover{
    width: 330px;
    height: 210px;
}