RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirecionar a raiz para index.html
RewriteRule ^$ index.html [L]

# Página de erro 404 personalizada
ErrorDocument 404 /404.html

# Redirecionar para a página 404.html quando acessarem o LICENSE
RewriteRule ^LICENSE$ /404.html [L]

# Redirecionar para a página 404.html quando acessarem o readme.md
RewriteRule ^readme.md$ /404.html [L]
